.benefits-section {
  position: relative;
  background: url("./images/decor/side-leaf.png") left top 57% no-repeat;

  @include phones {
    background: none;
  }

  &:before {
    content: url("./images/decor/bars-and-berries.png");
    position: absolute;
    bottom: rem(-80px);
    left: 0;

    @include phones {
      display: none;
    }
  }
}