.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: rem(126px);
  height: rem(126px);
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: rem(75px);
  height: rem(69px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: rem(27px);
  font-weight: bold;
  margin-bottom: rem(10px);
  color: #000;
}

.benefit__image {
  margin-bottom: rem(19px);

  @include phones {
    margin-bottom: 0;
    margin-right: rem(20px);
  }
}