.interactive-avatar {
  width: rem(80px);
  height: rem(80px);
  position: relative;

  &--active {
    .interactive-avatar__link {
      border-color: #0f5a47;
    }
  }
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}