.player-section {
  background: #f8faf9;
}

.player-section__container {
  max-width: rem(660px);
  height: rem(405px); 
  position: relative;
  margin: 0 auto;

  &:before, &:after {
    position: absolute;
  }

  &::before {
    content: url("../img/decor/corner-leaf.png");
    bottom: rem(-48px);
    left: rem(-121px);
  }

  &::after {
    content: url("../img/decor/blured-leaf.png");
    top: rem(-45px);
    right: rem(-80px);
  }
}