.player-section {
  background: #f8faf9;
}

.player-section__container {
  width: 660px;
  height: 405px; 
  position: relative;
  margin: 0 auto;

  &:before, &:after {
    position: absolute;
  }

  &::before {
    content: url("../img/decor/corner-leaf.png");
    bottom: -48px;
    left: -121px;
  }

  &::after {
    content: url("../img/decor/blured-leaf.png");
    top: -45px;
    right: -80px;
  }
}