.products-slider {
  position: relative;

  .bx-wrapper {
    box-shadow: none;
    border: none;
    background: transparent;
  }
}

.products-slider__btn {
  position: absolute;
  top: 50%;
  background: transparent;
  transform: translateY(-50%);

  &--next {
    right: 0;
  }

  &--prev {
    left: 0;
    transform: rotate(-180deg);
  }
}

.products-slider__icon {
  width: 14px;
  height: 26px;
  display: block;
  fill: black;
}
