.reviews-section {
  background: url("../img/decor/strawberry-cereal.png") right rem(20px) top rem(10px) no-repeat;
  position: relative;
  &:before {
    content: url("../img/decor/side-round-leaf.png");
    position: absolute;
    bottom: rem(-162px);
    left: 0;
  }

  &:after {
    content: url("../img/decor/assorted-berries.png");
    position: absolute;
    bottom: rem(-90px);
    left: 0;
  }

  @include phones {
    background: none;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}